@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    background: #181818;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

main{
    position: relative;

    width: 100%;
    padding: 0px 60px 60px 60px;
    color: #fff;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
    
    transition: 0.4s;
}

.sticky {
    background: #181818;
}

.gradient-nav {
    position: absolute;
    height: 60px;
    width: 100%;
    background: linear-gradient(360deg, rgba(255, 255, 255, 0) 0%, rgb(24, 24, 24) 99%);
    z-index: -1 ;
}


header ul {
    position: relative;
    display: flex;
    justify-content: flex;
    align-items: center;
    left: 2vw;

}

header ul li {
    position: relative;
    list-style: none;
    text-align: right;
}

header ul li a {
    position: relative;
    text-decoration: none;
    margin: 0 1vw;
    font-weight: 400;
    color: #fff;
    text-align: right;
}

header ul li a:hover {
    font-weight: 600;
}

header img {
    position: absolute;
    right: 4.5vw;
}

.logo {
    align-self: flex-start;

    margin-top: 7px;
    margin-left: 60px;

    color: #023a7ed0;

    letter-spacing: 1px;

    font-size: 30px;
}

    .info-btn {
    padding: 10px 15px;
    border-radius: 50%;
    border: none;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.397);

    position: absolute;
    margin-top: 15px;

    right: 10%;

    font-size: 1.1rem;
    font-weight: 500;

    cursor: pointer;
}



body::-webkit-scrollbar {
    width: 10px;               
  }
  
  body::-webkit-scrollbar-track {
    background: #181818;       
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #fff;    
    border-radius: 20px;       
  }

  footer{
    position: absolute;
    padding: 50px 20px;
}

footer{
    background: linear-gradient(360deg, rgba(255, 255, 255, 0) 0%, rgb(52 51 51) 99%);
    padding: 100px 50px;
    width: 100%;
    text-align: center;
    color: white;
}