*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
 text-align:  center;
}

html,body {height: 100%;}

body {
  font-family: sans-serif;
  background: rgb(14,113,133);
background: radial-gradient(circle, rgba(14,113,133,1) 0%, rgba(2,0,36,1) 100%);
  
}

header {
  color: white;
  background-color: rgba(0, 0, 0, 0.557);
  padding: 30px;
}

.remove {
   width: 50px;
   height: 50px;

} 

.modale{
  border: 1px solid red;
   background: black;
  width: 70%;
  height: 70vh;
  position: fixed;
  top: 50%;
  left: -50%;
  transform: translate(-50%, -50%);
  transition: all 0.55s;
  
}

.modaleact {
  left: 50%;
}


.cards{
  
  width: 200px;
  height: 300px;
  margin: 10px;
  
  background-size: cover;
  background-position: center ;
  background-repeat: none;
}
/*.card_title {
background:rgba(0, 0, 0, 0.6);
color: white;
margin: 0;

padding: 30px;

}*/

#container{
  margin: 30px;
  color: white;
}

#container ul {

  display: flex;
  flex-wrap: wrap;
  overflow-x:hidden;
  height: 500px;
  margin: 50px auto;
}


footer {
  margin-top: 10px;
  text-align: center;
  background-color: black;
  padding: 50px;
  color: white;
  
}

#container__top__rated {
  margin: 30px;
  color: white;
}

#container__top__rated section {
  display: flex;
  flex-wrap: wrap;
  overflow-x:hidden;
  height: 500px;
  margin: 50px auto;

}




/* Animazione */
@keyframes pulse {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.4;
  }
}


*,
  *::before,
  *::after {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
  }